* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
html {
    font-size: 22px;
}

body {
    font-size  : $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    color      : $base-font-color;
    font-weight: $base-font-weight;
}
h3 {
    font-size: 1.36rem;
    font-weight: 500;
    text-transform: capitalize;
    color: $SubHeading_color;
    margin-bottom: 45px;
}
h1 {
    font-weight: 700;
    font-size: 4.5454rem;
    text-transform: capitalize;
    margin-bottom: 90px;
}
h2 {
    font-weight: 600;
    font-size: 4.5454rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}

h4 {
    font-weight: 500;
    font-size: 1.3636rem;
    text-transform: capitalize;
}
span {
    color: $base-blue-color ;
    position: relative;
    font-weight: 600;
}

h5 {
    font-weight: 600;
    font-size: 2.9090rem;
    text-transform: capitalize;
    margin-bottom: 76px;
}
p{
    font-weight: 400;
    font-size: 1.2727rem;
    color: $base-grey-color ;
}

.container {
    width        : 1440px;
    padding-left : 1rem;
    padding-right: 1rem;
    margin       : 0 auto;
}

.inner_container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color          : $website-brand-color;
}

.text-muted {
    color: $base-grey-color !important;
}

.overflow_hidden {
    overflow: hidden;
}
.transition {
    @include transition(all, 0.3s);
}
.middle_align {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
}
.text_center, .text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.shadow {
    @include box-shadow(0, 30px, 60px, rgba(0, 0, 0, 0.08));
}
.position-relative {
    position: relative;
}
