.btn-primary {
    position     : relative;
    height       : $button-height;
    padding      : 34px 97px;
    @include border-radius(100px);
    background   : $primary-color;
    display      : inline-block;
    border       : 4px solid $base-white-color;
    font-size    : $button-font-size;
    font-weight  : 700;
    font-family  : $base-font-family;
    cursor       : pointer;
    color        : $base-white-color;
    @extend .transition;

    &:hover {
        @include scale(1.03);
    }
}

.btn-outline-primary {
    color: $base-font-color;
    @include border-radius(100px);
    @include box-shadow(0, 0.5rem, 1rem, rgba(0, 0, 0, 0.15));
    background: $base-white-color;
    border    : 3px solid $website-brand-color;
    font-size : $button-font-size;
    cursor    : pointer;
    padding   : 17px 60px;
    display   : inline-block;
    height    : 70px;


}