.icon-skype,
.icon-envelope,
.icon-phone {
    width              : 48px;
    height             : 48px;
    display            : inline-block;
}
.icon-skype{
    background         : url('assets/images/skype.png') no-repeat;
}
.icon-envelope {
    background         : url('assets/images/email.png') no-repeat;
}

.icon-phone {
    background         : url('assets/images/call.png') no-repeat;
}

.icons{
    width: 13px;
    height: 23px;
    display            : inline-block;
    &.left-arrow-icon {
        background         : url('assets/images/arrow.png') no-repeat;
        background-size    : cover;

    }
    &.right-arrow-icon{
        background : url('assets/images/arrow_blue.png');
        background-size    : cover;
    }

}
