$base-font-color     : #141414;
$SubHeading_color    : #1A1919;
$base-font-family    :'Spline Sans', sans-serif;
$base-font-size      : 1rem;
$base-font-weight    : 500;
$base-blue-color     : #0C45FF;
$base-grey-color     : #484848;
$base-white-color    : #ffffff;
$website-brand-color : #FF6666;
$highlight-color     : #F7F7F7;
$footer_text         : #F0EBF1;
$base-line-height    : 1.4;
$base-light-color    : #F7F4EF;



//HEADER VARIABLES
$header-height: 130px;

// BUTTONS VARIABLES
$primary-color    : $website-brand-color;
$button-font-size : 1.09090rem;
$button-height    : 96px;

//FIELD VARIABLES
$field-height: 60px;
$form_background:#E5E0F7